body, html{
    height: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(132,0,255,1) 0%, rgba(7,94,155,1) 0%, rgba(153,7,7,1) 0%, rgba(0,202,255,1) 0%, rgba(139,68,245,1) 0%, rgba(81,8,85,1) 100%); 
}
.no-padding{
    padding: 0;
}

.imagineServer{
    margin-top: -24px;
    width: 100%;
    height: 100%;
    transform: skewY(-3deg);
    transform-origin: top left;
  }
  .ip{
    position: relative;
    color: white;
    font-family: "Roboto", sans-serif;
    margin-top: -700px;
    font-size: 110px;
    letter-spacing: 3px;
    text-shadow: 0px 6px #505050;
    transform: skewY(3deg);
    transform-origin: top left;
  }

  .announce{
    text-align: center;
  }
  .title{
    text-align: center;
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    margin-top: 70px;
    letter-spacing: 3px;
  }
  .announce p{
    text-align: center;
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    margin-top: 550px;
    letter-spacing: 3px;
  }
  .announce img{
    margin-top: 30px;
    width: 200px;
    height: 50px;
  }
  .lista .title{
    font-family: 'Lobster', cursive;
    font-size: 50px;
  }
  .lista p{
    font-family: 'Lobster', cursive;
    font-size: 15px;
  }
  .paymentMethods{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 0px;
  }
  .paymentMethods img{
    width: 350px;
    height: 190px;
    margin: 0 auto;
  }
  .divider{
    margin: 0 auto;
    width: 500px;
    height: 1px;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .grade{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
  }
  .preturi{
    width: 100%;
  }
  .grade p{
    color: #fecd1a;
  }
  .discordID{
    color: #fecd1a;
  }

  @media (max-width: 576px) {
    .ip{
      font-size: 25px;
      text-shadow: 0px 3px #505050;
      margin-top: -120px;
    }
    .announce .title{
      font-size: 30px;
      margin-top: 60px;
      margin-bottom: 50px;
    }
    .announce p{
      font-size: 30px;
      margin-top: 120px;
    }
    .divider{
      width: 290px;
    }
    .paymentMethods img{
      width: 290px;
      height: 150px;
    }
  }

  @media (min-width: 576px) {
    .ip{
      font-size: 40px;
      text-shadow: 0px 3px #505050;
      margin-top: -230px;
    }
    .announce .title{
      font-size: 30px;
      margin-top: 60px;
      margin-bottom: 50px;
    }
    .announce p{
      font-size: 30px;
      margin-top: 170px;
    }
    .divider{
      width: 290px;
    }
    .paymentMethods img{
      width: 290px;
      height: 150px;
    }
  }

  @media (min-width: 768px)
  {
    .ip{
      font-size: 50px;
      text-shadow: 0px 3px #505050;
      margin-top: -290px;
    }
    .announce .title{
      font-size: 30px;
      margin-top: 60px;
      margin-bottom: 50px;
    }
    .announce p{
      font-size: 30px;
      margin-top: 260px;
    }
    .divider{
      width: 290px;
    }
    .paymentMethods img{
      width: 290px;
      height: 150px;
    }
  }

  @media (min-width: 992px)
  {
    .ip{
      font-size: 75px;
      text-shadow: 0px 3px #505050;
      margin-top: -450px;
    }
    .announce .title{
      font-size: 30px;
      margin-top: 60px;
      margin-bottom: 50px;
    }
    .announce p{
      font-size: 30px;
      margin-top: 370px;
    }
    .divider{
      width: 290px;
    }
    .paymentMethods img{
      width: 290px;
      height: 150px;
    }
  }

  @media (min-width: 1400px) {
    .ip{
      font-size: 115px;
      text-shadow: 0px 3px #505050;
      margin-top: -660px;
    }
    .announce .title{
      font-size: 30px;
      margin-top: 60px;
      margin-bottom: 50px;
    }
    .announce p{
      font-size: 40px;
      margin-top: 500px;
    }
    .divider{
      width: 290px;
    }
    .paymentMethods img{
      width: 290px;
      height: 150px;
    }
  }

