.voteImage{
    width: 100%;
    height: 100%;
    transform: skewY(-3deg);
    transform-origin: top left;
  }
.nop-padding{
    padding: 0;
} 
.voting{
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 110px;
    margin-top: -680px;
    letter-spacing: 3px;
    text-shadow: 0px 3px #505050;
    transform: skewY(3deg);
    transform-origin: top left;
}
.voting a{
    color: #F82222;
}
.voting a:hover{
    text-decoration: none;
}

@media (max-width: 576px) {
    .voting{
        margin-top: -140px;
        font-size: 25px;
    }
}

@media (min-width: 576px) {
    .voting{
        margin-top: -260px;
        font-size: 45px;
    }
}

@media (min-width: 768px) {
    .voting{
        margin-top: -320px;
        font-size: 45px;
    }
}

@media (min-width: 992px) {
    .voting{
        margin-top: -320px;
        font-size: 55px;
    }
}

@media (min-width: 1200px) {
    .voting{
        margin-top: -470px;
        font-size: 75px;
    }
}

@media (min-width: 1400px) {
    .voting{
        margin-top: -670px;
        font-size: 105px;
    }
}