html, body{
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #3366ff -1%, #ff0000 100%);
}
.col-lg-6{
    text-align: center;
}
.loginForm{
    margin-top: 10px;
    display: inline-block;
    height: 540px;
    width: 400px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #F43D3D;
}
.loginForm .title{
    border-bottom: 1px solid black;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    color: white;
}
.login-group p:first-child{
    margin-top: 160px;
}
.login-group p{
    margin-top: 5px;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    float: left;
    margin-left: 5px;
    color: white;
}
.login{
    background-color: dodgerblue;
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px 10px;
    color: black;
    margin-top: 40px;
    margin-left: 40px;
    float: left;
}
.passwordReset{
    margin-top: 75px;
    color: dodgerblue;
    float: right;
    margin-right: 10px;
}
.passwordReset a{
    color: dodgerblue;
}
.passwordReset a:hover{
    color: dodgerblue;
    text-decoration: none;
}
.registerForm{
    margin-top: 10px;
    display: inline-block;
    height: 540px;
    width: 400px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #F43D3D;
}
.registerForm .title{
    border-bottom: 1px solid black;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    color: white;
}
.register{
    background-color: dodgerblue;
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px 10px;
    color: black;
    margin-top: 30px;
}
.register-group p:first-child{
    margin-top: 40px;
}
.register-group p{
    margin-top: 5px;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    float: left;
    margin-left: 5px;
    color: white;
}
.name{
    width: 97%;
    border: 1px solid black;
    border-radius: 3px;
}
.surname{
    width: 97%;
    border: 1px solid black;
    border-radius: 3px;
}
.minecraftName{
    width: 97%;
    border: 1px solid black;
    border-radius: 3px;
}
.emailAddress{
    width: 97%;
    border: 1px solid black;
    border-radius: 3px;
}
.password{
    width: 97%;
    border: 1px solid black;
    border-radius: 3px;
}
.passwordConfirmation{
    width: 97%;
    border: 1px solid black;
    border-radius: 3px;
}
.rememmber_me{
    float: left;
    padding-left: 5px;
    padding-top: 5px;
}