html, body{
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom left, #ffcc00 11%, #ff3300 100%);
}
.col-lg-12{
    text-align: center;
}
.loginForm{
    margin-top: 10px;
    display: inline-block;
    height: 260px;
    width: 400px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #F43D3D;
}
.loginForm .title{
    border-bottom: 1px solid black;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    color: white;
}
.login-group p:first-child{
    margin-top: 10px;
}
.login-group p{
    margin-top: 5px;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    float: left;
    margin-left: 5px;
    color: white;
}
.login{
    background-color: dodgerblue;
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px 10px;
    color: black;
    margin-top: 40px;
    margin-left: 40px;
    float: left;
}
.passwordReset{
    margin-top: 75px;
    color: dodgerblue;
    float: right;
    margin-right: 10px;
}
.passwordReset a{
    color: dodgerblue;
}
.passwordReset a:hover{
    color: dodgerblue;
    text-decoration: none;
}
#id_username{
    width: 97%;
    border: 1px solid black;
    border-radius: 3px;
}
#id_password{
    width: 97%;
    border: 1px solid black;
    border-radius: 3px;
}