html,body{
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom left, #ffcc00 11%, #ff3300 100%);
  }

  /*Meniu */
  .menu {
    padding: 5px 0;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 100;
    border-bottom: 1px solid black;
  }
  .menu ul{
    float: right;
  }
  .menu ul li{
    list-style-type: none;
    display: inline-block;
    margin-top: 10px;
    margin-right: 50px;
    text-align: center;
    position: relative;
  }
  .menu ul li a{
    letter-spacing: 2px;
    text-decoration: none;
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    text-transform: uppercase;
  }
  .menu li.active a {
    border-bottom: 2px solid #FB1401;
    color: #646166;
  }
  .menu ul li a:hover{
    border-bottom: 2px solid #FB1401;
  }
  .menu ul li.active a {
    border-bottom: 2px solid #FB1401;
    color: #0189FB;
  }

  .inregistrare{
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    float:left;
    margin-top: 10px;
    margin-left: 20px;
    text-transform: uppercase;
  }
  .inregistrare a{
     color: black;
  }
  .inregistrare a:hover{
     text-decoration: none;
  }

  .autentificare{
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    float:left;
    margin-top: 10px;
    margin-left: 20px;
    text-transform: uppercase;
  }
  .autentificare a{
     color: black;
  }
  .autentificare a:hover{
     text-decoration: none;
  }

  .delogare{
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    float:left;
    padding-top: 13px;
    padding-left: 20px;
    text-transform: uppercase;
  }
  .delogare a{
     color: black;
  }
  .delogare a:hover{
     text-decoration: none;
  }
  .username{
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    float:left;
    margin-top: 10px;
    margin-left: 20px;
    text-transform: uppercase;
  }
  .fa-instagram{
    padding: 8px;
    border: 1px solid black;
    border-radius: 50%;
    color: #E252CC;
  }
  .fa-facebook-square{
    padding: 8px;
    border: 1px solid black;
    border-radius: 50%;
    color: #266FB3;
  }
  .fa-instagram:hover{
    background-color: #E252CC;
    color: white;
    transition: 0.6s;
  }
  .fa-facebook-square:hover {
    background-color: #266FB3;
    color: white;
    transition: 0.6s;
  }
  .social{
    border-top: 1px solid black;
    padding-top: 10px;
    height: 53px;
    background-color: #BFBFBF;
    text-align: center;
  }
  .col-lg-10{
    text-align: center;
  }
  .col-lg-2{
    text-align: center;
  }
  .discord{
    margin-top: 25px;
    border: 1px solid black;
    width: 261px;
    height: 401px;
    border-radius: 6px;
  }
  .topics{
    margin-top: 25px;
    border: 1px solid black;
    border-radius: 3px;
    height: 50px;
    background-color: white;
  }
  .topics .title{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
  }
  .newTopic{
    border: 1px solid black;
    border-radius: 3px;
    background-color: dodgerblue;
    margin-top: 10px;
    margin-right: 10px;
    float: right;
  }
  .discordTopic{
    margin-top: 25px;
    border: 1px solid black;
    border-radius: 3px;
    height: 100%;
    background-color: white;
  }
  .discordTopic .title{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    width: 100%;
    border-bottom: 1px solid black;
  }
  .serverTopic{
    margin-top: 25px;
    border: 1px solid black;
    border-radius: 3px;
    height: 100%;
    background-color: white;
  }
  .serverTopic .title{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    width: 100%;
    border-bottom: 1px solid black;
  }
  .requestTopic{
    margin-top: 25px;
    border: 1px solid black;
    border-radius: 3px;
    height: 100%;
    background-color: white;
  }
  .requestTopic .title{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    width: 100%;
    border-bottom: 1px solid black;
  }
  .col-lg-6{
    text-align: center;
  }
  .first{
    display: inline-block;
    margin-top: 10px;
  }
  .second{
    display: inline-block;
    margin-top: 10px;
  }
  .subTopics p{
    color: dodgerblue;
  }
  .subTopics a{
      color: dodgerblue;
      text-decoration: none;
  }
  .discordTopic .subTopics{
      margin-top: 10px;
  }



