html, body{
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom left, #ffcc00 11%, #ff3300 100%);
}
/* Sign up form */
.col-lg-12{
    text-align: center;
}
.registerForm{
    margin-top: 10px;
    display: inline-block;
    height: 460px;
    width: 400px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}
.registerForm .title{
    border-bottom: 1px solid black;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
}
.register{
    background-color: dodgerblue;
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px 10px;
    color: black;
    margin-top: 15px;
}
.register-group p:first-child{
    margin-top: 10px;
}
.register-group p{
    margin-top: 5px;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    float: left;
    margin-left: 5px;
}
.name{
    width: 97%;
    border: 1px solid black;
    border-radius: 3px;
}
.surname{
    width: 97%;
    border: 1px solid black;
    border-radius: 3px;
}
.minecraftName{
    width: 97%;
    border: 1px solid black;
    border-radius: 3px;
}
.emailAddress{
    width: 97%;
    border: 1px solid black;
    border-radius: 3px;
}
.password{
    width: 97%;
    border: 1px solid black;
    border-radius: 3px;
}
.passwordConfirmation{
    width: 97%;
    border: 1px solid black;
    border-radius: 3px;
}