html,body{
    height: 100%;
    width: 100%;
    background-color: #BFBFBF;
  }

  /*Meniu */
  .menu {
    padding: 5px 0;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 100;
    border-bottom: 1px solid black;
  }
  .menu ul{
    float: right;
  }
  .menu ul li{
    list-style-type: none;
    display: inline-block;
    margin-top: 10px;
    margin-right: 50px;
    text-align: center;
    position: relative;
  }
  .menu ul li  a{
    letter-spacing: 2px;
    margin-top: 5px;
    text-decoration: none;
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    text-transform: uppercase;
  }
  .menu li.active a {
    border-bottom: 2px solid #FB1401;
    color: #646166;
  }
  .menu ul li a:hover{
    border-bottom: 2px solid #FB1401;
  }
  .menu ul li.active a {
    border-bottom: 2px solid #FB1401;
    color: #0189FB;
  }

  /* Image + vote link */
  .col-lg-12{
    text-align: center;
  }
  .announce{
    background: url("../images/voteImage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 30px;
    width: 100%;
    height: 100%;
    transform: skewY(-2deg);
    transform-origin: top left;
  }
  .voting{
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 110px;
    margin-top: 130px;
    letter-spacing: 3px;
    text-shadow: 0px 6px #505050;
    transform: skewY(2deg);
    transform-origin: top left;
  }
  .voting a{
    color: #F82222;
  }
  .voting a:hover{
    text-decoration: none;
  }

  /* Social */
  .fa-instagram{
    padding: 10px;
    border: 1px solid black;
    border-radius: 50%;
    color: #E252CC;
  }
  .fa-facebook-square{
    padding: 10px;
    border: 1px solid black;
    margin-left: 5px;
    border-radius: 50%;
    color: #266FB3;
  }
  .fa-instagram:hover{
    background-color: #E252CC;
    color: white;
    transition: 0.6s;
  }
  .fa-facebook-square:hover {
    background-color: #266FB3;
    color: white;
    transition: 0.6s;
  }
  .social{
    padding-top: 10px;
    height: 53px;
    background-color: #BFBFBF;
    text-align: center;
  }
