{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" name=”viewport” content=”width=device-width, initial-scale=1″>
    <title>FlashMcRo | Forum</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css\forumStyle.css' %}">
    <link rel="shortcut icon" href="{% static 'images\icon.ico' %}" type="image/x-icon">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
       <div class="menu">
          <ul>
            <li alt="flash-mc-ro home section" title="flash-mc-ro home section"><a href="{% url 'index' %}">Acasa</a></li>
            <li class="active" alt="flash-mc-ro forum section" title="flash-mc-ro forum section"><a href="{% url 'forum' %}">Forum</a></li>
            <li alt="flash-mc-ro shop section" title="flash-mc-ro shop section"><a href="{% url 'magazin' %}">Magazin</a></li>
            <li alt="flash-mc-ro vote section" title="flash-mc-ro vote section"><a href="{% url 'vot' %}">Voteaza</a></li>
          </ul>
          <div class="signup_in">
              {% if user.is_authenticated %}
              <p alt="flash-mc-ro username" title="flash-mc-ro username" class="username">{{ user.username }}</p>
              <p alt="flash-mc-ro logout" title="flash-mc-ro logout" class="delogare"><a href="{% url 'delogare' %}">Delogare</a></p>
              {% else %}
              <p alt="flash-mc-ro registration" title="flash-mc-ro registration" class="inregistrare"><a href="{% url 'inregistrare' %}">Inregistrare</a></p>
              <p alt="flash-mc-ro authentication" title="flash-mc-ro authentication" class="autentificare"><a href="{% url 'autentificare' %}">Autentificare</a></p>
              {% endif %}
          </div>
        </div>
      </div>
    </div>

    <div class="overlay">
        <div class="topicCreation">
            <div class="title">Crearea unui subtopic nou <span class="closeWindow">X</span></div>
            <p>Topicuri</p>
            <select class="list">
                <option>Lista topicurilor</option>
                <option>Discord</option>
                <option>Propuneri server</option>
                <option>Cereri pentru grade</option>
            </select>
            <p>Titlu subtopic</p>
            <button class="createSubTopic">Creaza subtopicul</button>
        </div>
    </div>
    <div class="topicList">
        <br></br>
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <div class="topics">
                        <div class="title">Topicuri</div>
                        <button alt="flash-mc-ro create new topics" title="flash-mc-ro create new topics" class="newTopic">Creaza un nou topic</button>
                    </div>
                    <div class="topicList">
                        <div class="discordTopic">
                            <div class="title">Discord</div>
                            <div class="subTopics">
                                <p alt="flash-mc-ro voice channel topic" title="flash-mc-ro voice channel topic" class="channelVoiceTopic"><a href="{% url 'subTopic' 'canale-voce' %}">Canale de voce</a></p>
                                <p alt="flash-mc-ro text channel topic" title="flash-mc-ro text channel topic" class="channelTextTopic"><a href="{% url 'subTopic' 'canale-text' %}">Canale de text</a></p>
                                <p alt="flash-mc-ro music channel topic" title="flash-mc-ro music channel topic" class="channelMusicTopic"><a href="{% url 'subTopic' 'canale-muzica' %}">Canale de muzica</a></p>
                            </div>
                        </div>
                        <div class="serverTopic">
                            <div class="title">Propuneri server</div>
                            <div class="subTopics">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="first">
                                                <p alt="flash-mc-ro new sections topic" title="flash-mc-ro new sections topic" class="sectionTopic"><a href="{% url 'subTopic' 'sectiuni-noi' %}">Sectiuni noi</a></p>
                                                <p alt="flash-mc-ro bugs topic" title="flash-mc-ro bugs topic" class="bugTopic"><a href="{% url 'subTopic' 'bug-uri' %}">Bug-uri</a></p>
                                                <p alt="flash-mc-ro suggestions topic" title="flash-mc-ro suggestions topic" class="sugestionTopic"><a href="{% url 'subTopic' 'sugestii' %}">Sugestiii</a></p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="second">
                                                <p alt="flash-mc-ro warnings topic" title="flash-mc-ro warnings topic" class="reclamationTopic"><a href="{% url 'subTopic' 'reclamatii' %}">Reclamatii</a></p>
                                                <p alt="flash-mc-ro events topic" title="flash-mc-ro events topic" class="eventTopic"><a href="{% url 'subTopic' 'evenimente' %}">Evenimente</a></p>
                                                <p alt="flash-mc-ro announcements topic" title="flash-mc-ro announcements topic" class="announcementTopic"><a href="{% url 'subTopic' 'anunturi' %}">Anunturi</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="requestTopic">
                            <div class="title">Cereri pentru grade</div>
                            <div class="subTopics">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="first">
                                                <p alt="flash-mc-ro builder topic" title="flash-mc-ro builder topic" class="builderTopic"><a href="{% url 'subTopic' 'builder' %}">{{ grade.builder }}</a></p>
                                                <p alt="flash-mc-ro scripter topic" title="flash-mc-ro scripter topic" class="scripterT1opic"><a href="{% url 'subTopic' 'scripter' %}">{{ grade.scripter }}</a></p>
                                                <p alt="flash-mc-ro admin topic" title="flash-mc-ro admin topic" class="adminTopic"><a href="{% url 'subTopic' 'administrator' %}">{{ grade.admin }}</a></p>
                                            </div>

                                        </div>
                                        <div class="col-lg-6">
                                            <div class="second">
                                                <p alt="flash-mc-ro moderator topic" title="flash-mc-ro moderator topic"class="modTopic"><a href="{% url 'subTopic' 'moderator' %}">{{ grade.mod }}</a></p>
                                                <p alt="flash-mc-ro flyer topic" title="flash-mc-ro flyer topic" class="flyerTopic"><a href="{% url 'subTopic' 'flyer' %}">{{ grade.flyer }}</a></p>
                                                <p alt="flash-mc-ro vip topic" title="flash-mc-ro vip topic" class="vipTopic"><a href="{% url 'subTopic' 'vip' %}">{{ grade.vip }}</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="discord">
                        <iframe src="https://discordapp.com/widget?id=616206076412690433&theme=dark" width="259" height="400" allowtransparency="true" frameborder="0" alt="flash-mc-ro discord" title="flash-mc-ro discord"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="social">
            <a alt="flash-mc-ro instagram" title="flash-mc-ro instagram" href="https://www.instagram.com/alexcovrig1332/?hl=ro"><i class="fa fa-instagram"></i></a>
            <a alt="flash-mc-ro facebook" title="flash-mc-ro facebook" href="https://www.facebook.com/alex.covrig.9889"><i class="fa fa-facebook-square"></i></a>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="{% static 'javascript/topic.js' %}"></script>
  </body>
</html>